* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  border: 3px solid green;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  border: 1px solid red;
}
